<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag "pages"%>
  <%= javascript_include_tag "application"%>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">

      var genderData, ageData, religionData;
      var genderChart, ageChart, religionChart;
      var fetch = function(electorate) {
          $.getJSON("/electorates", {electorate: electorate}, function(data) {
              if (data.name == "N/A") {
                  var element=document.getElementById("electorate_found");
                  element.style.visibility = "visible";
              } else {
                  var element=document.getElementById("electorate_found");
                  element.style.visibility = "hidden";
                  update(data);
              }
          });

      };
      var init = function() {
          // Instantiate and draw our chart, passing in some options.
          var genderNode = document.getElementById('gender');
          var ageNode = document.getElementById('age');
          var religionNode = document.getElementById('religious_belief');
          genderChart = new google.visualization.PieChart(genderNode);
          ageChart = new google.visualization.PieChart(ageNode);
          religionChart = new google.visualization.PieChart(religionNode);
          fetch("Australia");
      };
      var update = function(data) {
          if (data.gender == null) {
              var element=document.getElementById("has_facts");
              element.style.visibility = "visible";
              data.gender = {};
              data.age = {};
              data.religion = {};
              data.gender.males = 1;
              data.gender.females = 1;
              data.age.under_twenty_five = 1;
              data.age.twenty_five_to_thirty_nine = 1;
              data.age.forties = 1;
              data.age.fifties = 1;
              data.age.sixty_and_over = 1;
              data.religion.christianity = 1;
              data.religion.buddhism = 1;
              data.religion.hinduism = 1;
              data.religion.islam = 1;
              data.religion.judaism = 1;
              data.religion.other = 1;
              data.religion.no_religion = 1;

          } else {
              var element=document.getElementById("has_facts");
              element.style.visibility = "hidden";
          }
          var element=document.getElementById("data_for");
          element.innerHTML="Election data for " + data.name;

          genderData = new google.visualization.DataTable();
          ageData = new google.visualization.DataTable();
          religionData = new google.visualization.DataTable();

          genderData.addColumn('string', 'Gender');
          genderData.addColumn('number', 'Distribution');
          genderData.addRows([
              ['Male', data.gender.males],
              ['Female', data.gender.females]
          ]);

          ageData.addColumn('string', 'Age Group');
          ageData.addColumn('number', 'Distribution');
          ageData.addRows([
              ['Under 25', data.age.under_twenty_five],
              ['25-39', data.age.twenty_five_to_thirty_nine],
              ['40-49', data.age.forties],
              ['50-59', data.age.fifties],
              ['60 and over', data.age.sixty_and_over]
          ]);

          religionData.addColumn('string', 'Religion');
          religionData.addColumn('number', 'Distribution');
          religionData.addRows([
              ['Christianity', data.religion.christianity],
              ['Buddhism', data.religion.buddhism],
              ['Hinduism', data.religion.hinduism],
              ['Islam', data.religion.islam],
              ['Judaism', data.religion.judaism],
              ['Other', data.religion.other],
              ['No religion', data.religion.no_religion]
          ]);

          // Set chart options
          var genderOpt = {
              'title':'Gender distribution for ' + data.name,
              'width':200,
              'height':200,
              'legend': 'none'
          };
          var ageOpt = {
              'title':'Age distribution for ' + data.name,
              'width':200,
              'height':200,
              'legend': 'none'
          };
          var religionOpt = {
              'title':'Religious distribution for ' + data.name,
              'width':200,
              'height':200,
              'legend': 'none'
          };

          genderChart.draw(genderData, genderOpt);
          ageChart.draw(ageData, ageOpt);
          religionChart.draw(religionData, religionOpt);

          var twoPartyData = google.visualization.arrayToDataTable([
              ['', 'ALP', 'Coalition'],
              ['',  data.labor_percentage, data.liberal_percentage]
          ]);

          var twoPartyOpt = {
              title: 'Two Party Preferred Candidates',
              hAxis: { textPosition: 'none', gridlines: {color: 'transparent'}, baselineColor: 'transparent', format: '##.##%'},
              vAxis: { textPosition: 'none'},
              isStacked: true,
              legend: {position: 'none'},
              height: '50',
              colors: ['#CC0000', '#0000CC']
          };
          var formatter = new google.visualization.NumberFormat({pattern:'##.##%'});
          formatter.format(twoPartyData, 1);
          formatter.format(twoPartyData, 2);
          var chart = new google.visualization.BarChart(document.getElementById('two_party_chart'));
          chart.draw(twoPartyData, twoPartyOpt);
      };
      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(init);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
  </script>

</head>
<body>
<div id="container">
  <div id="facts-bar">
    <div ><p id="has_facts">This electorate has no census data available</p></div>
    <div id="gender"></div>
    <div id="age"></div>
    <div id="religious_belief"></div>
  </div>

  <div id="content">
    <h2 align="center">2013 Australian Federal Election</h2>
    <h4 align="center" id="data_for">Election data for Australia</h4>
    <div id="swing-bar">
      <div>Two Party Preferred Candidate</div>
      <div>ALP</div>
      <div>Coalition</div>
      <div ></div>
      <div id="two_party_chart" style="width: 740px; height: 50px;"></div>
    </div>

    <div id="instructions">
      <div id="selection-instruction">
        <h4 align="center"><i>Click on an electorate to view that electorate's election data</i></h4>
        <h4 align="center"><i>OR</i></h4>
        <h4 align="center"><i>Search your electorate:</i></h4>
        <form id="electorate_form" onSubmit="event.preventDefault(); fetch($('#electorate_form input#electorate').val())">
          <input id="electorate" type="text" name="electorate">
          <input type="submit" value="Submit">
        </form>
        <p id="electorate_found">There were no electorates that matched your search</p>
      </div>
    </div>

    <div id="map" style="width:580px; height: 450px">
    </div>

  </div>
</div>
<script>
    //http://bost.ocks.org/mike/map/

    var width = 580,
            height = 450;

    var projection = d3.geo.mercator()
            .scale(500)
            .translate([-3*width/2  , 0]);

    var path = d3.geo.path()
            .projection(projection);

    var svg = d3.select("#map").append("svg")
            .attr("width", width)
            .attr("height", height);

    d3.json("topostraya_full.json", function(error, topostraya_full) {
        svg.append("path")
                .datum(topojson.feature(topostraya_full, topostraya_full.objects.astraya))
                .attr("d", path);
        svg.append("path")
                .datum(topojson.mesh(topostraya_full, topostraya_full.objects.astraya, function(a, b) { return a !== b }))
                .attr("d", path)
                .attr("class", "subunit-boundary")
                .attr("electorate", topostraya_full.objects.astraya)
                .on("click", clicked);
    });

    function clicked(electorate) {
        console.log(electorate);
    }

</script>
</body>
</html>