<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag "pages"%>
  <%= javascript_include_tag "application"%>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">

      var genderData, ageData, religionData;
      var genderChart, ageChart, religionChart;
      var fetch = function(electorate) {
          $.getJSON("/electorates", {electorate: electorate}, function(data) {
              updateChart(data);
          });
      };
      var initChart = function() {
          // Instantiate and draw our chart, passing in some options.
          var genderNode = document.getElementById('gender');
          var ageNode = document.getElementById('age')
          var religionNode = document.getElementById('religious_belief')
          genderChart = new google.visualization.PieChart(genderNode);
          ageChart = new google.visualization.PieChart(ageNode);
          religionChart = new google.visualization.PieChart(religionNode);
          fetch("Australia");
      };
      var updateChart = function(data) {
          genderData = new google.visualization.DataTable();
          ageData = new google.visualization.DataTable();
          religionData = new google.visualization.DataTable();
          console.log(data);
          genderData.addColumn('string', 'Gender');
          genderData.addColumn('number', 'Distribution');
          genderData.addRows([
              ['Male', data.gender.males],
              ['Female', data.gender.females]
          ]);

          ageData.addColumn('string', 'Age Group');
          ageData.addColumn('number', 'Distribution');
          ageData.addRows([
              ['Under 25', data.age.under_twenty_five],
              ['25-39', data.age.twenty_five_to_thirty_nine],
              ['40-49', data.age.forties],
              ['50-59', data.age.fifties],
              ['60 and over', data.age.sixty_and_over]
          ]);

          religionData.addColumn('string', 'Religion');
          religionData.addColumn('number', 'Distribution');
          religionData.addRows([
              ['Christianity', data.religion.christianity],
              ['Buddhism', data.religion.buddhism],
              ['Hinduism', data.religion.hinduism],
              ['Islam', data.religion.islam],
              ['Judaism', data.religion.judaism],
              ['Other', data.religion.other],
              ['No religion', data.religion.no_religion]
          ]);

          // Set chart options
          var genderOpt = {
              'title':'Gender Distribution',
              'width':200,
              'height':200,
              'legend': 'none'
          };
          var ageOpt = {
              'title':'Age Distribution',
              'width':200,
              'height':200,
              'legend': 'none'
          };
          var religionOpt = {
              'title':'Religion Distribution',
              'width':200,
              'height':200,
              'legend': 'none'
          };



          genderChart.draw(genderData, genderOpt);
          ageChart.draw(ageData, ageOpt);
          religionChart.draw(religionData, religionOpt);

          var data = google.visualization.arrayToDataTable([
              ['', 'ALP', 'Coalition'],
              ['',  data.labor_percentage, data.liberal_percentage]
          ]);

          var options = {
              title: 'Two Party Preferred Candidates',
              hAxis: { textPosition: 'none', gridlines: {color: 'transparent'}, baselineColor: 'transparent', format: '#%'},
              vAxis: { textPosition: 'none'},
              isStacked: true,
              legend: {position: 'none'},
              height: '50',
              colors: ['#CC0000', '#0000CC']
          };
          var formatter = new google.visualization.NumberFormat({pattern:'##.##%'});
          formatter.format(data, 1);
          formatter.format(data, 2);
          var chart = new google.visualization.BarChart(document.getElementById('two_party_chart'));
          chart.draw(data, options);
      };
      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(initChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
  </script>
</head>
<body>
<div id="container">
  <div id="facts-bar">
    <div id="gender"></div>
    <div id="age"></div>
    <div id="religious_belief"></div>
  </div>

  <div id="content">
    <h1 align="center">2013 Australian Federal Election</h1>

    <div id="swing-bar">
      <div>Two Party Preferred Candidate</div>
      <div>ALP</div>
      <div>Coalition</div>
      <div ></div>
        <div id="two_party_chart" style="width: 740px; height: 50px;"></div>
    </div>

    <div id="instructions">
      <div id="selection-instruction">
        <h4 align="center"><i>Select a region to view more detailed statistics</i></h4>
        <h4 align="center"><i>OR</i></h4>
        <h4 align="center"><i>Search your electorate:</i></h4>
        <form id="electorate_form" onSubmit="event.preventDefault(); fetch($('#electorate_form input#electorate').val())">
          <input id="electorate" type="text" style="width: 90%" name="electorate">
          <input type="submit" value="Submit">
        </form>
      </div>
      <!--<div id="social-instruction">-->
        <!--Or share these statistics on Facebook or Twitter:-->
      <!--</div>-->
    </div>

    <div id="map">
      <%= image_tag "australia_states_blank.png", options={:width => "85%", :height => "100%"}%>
    </div>

    <!--<div id="twitter-feed">-->
      <!--Twitter feed here-->
    <!--</div>-->
  </div>
</div>

</body>
</html>