// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#container {
  width: 940px;
  margin-left: 200px;
}

#facts-bar {
  background-color: #00BBCC;
  height: 600px;
  width: 200px;
  float: left;
  z-index: 0;
}

.circle {
  width: 140px;
  height: 140px;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  border-radius: 70px;
  margin: 45px auto;
  background-color: #FFFFE0;
  z-index: 1;
  display: table;
}

.text-circle {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

#content {
  background-color: #FFFFFF;
  height: 600px;
  width: 740px;
  float: left;
  z-index: 0;
}

h2 {
  color: #000066;
}

h4 {
  color: #000066;
}

#swing-bar {
  background-color: #EEEEEE;
  height: 50px;
  width: 740px;
}

#instructions {
  background-color: #FFFFFF;
  height: 450px;
  width: 160px;
  float: left;
}

#selection-instruction {
  height: 350px;
  width: 160px;
  padding-top: 40px;
}

#social-instruction {
  background-color: #FF0000;
  height: 100px;
  width: 160px;
  bottom: 0;
  font-size: 70%
}

#map {
  color: #FFFFFF;
  background-color: #FFFFFF;
  height: 450px;
  width: 580px;
  float: right;
}

#twitter-feed {
  background-color: #EEEEEE;
  width: 740px;
}

.subunit-boundary {
  stroke: white;
}