// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#container {
  width: 940px;
  margin-left: 200px;
}

#facts-bar {
  height: 600px;
  width: 200px;
  padding-top: 40px;
  float: left;
  z-index: 0;
}

.text-circle {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

#content {
  background-color: #FFFFFF;
  height: 600px;
  width: 740px;
  float: left;
  z-index: 0;
}

h2 {
  color: #000066;
}

h4 {
  color: #000066;
}

#swing-bar {
  height: 50px;
  width: 740px;
}

#two-party-title {
  text-align: center;
  font-weight: bold;
  font-size: 120%;
}

#alp-label {
  float: left;
  height: 20px;
  width: 200px;
  padding-left: 65px;
  font-weight: bold;
  color: #CC0000;
}

#coalition-label {
  float: right;
  height: 20px;
  width: 200px;
  text-align: right;
  padding-right: 65px;
  font-weight: bold;
  color: #0000CC;
}

#instructions {
  background-color: #FFFFFF;
  height: 450px;
  width: 240px;
  float: left;
}

#selection-instruction {
  height: 350px;
  width: 160px;
  padding-top: 80px;
  padding-left: 50px;
}

#social-instruction {
  background-color: #FF0000;
  height: 100px;
  width: 160px;
  bottom: 0;
  font-size: 70%
}

#map {
  color: #FFFFFF;
  background-color: #FFFFFF;
  height: 450px;
  width: 500px;
  float: right;
}

#twitter-feed {
  background-color: #EEEEEE;
  width: 740px;
}

.subunit-boundary {
  stroke: white;
}

#electorate_found {
  visibility: hidden;
  color: red
}

#has_facts {
  visibility: hidden;
  color: red
}

#electorate {
  width: 90%;
}